<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
{% block body %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit"/>
  </form>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
{% endblock %}
{% if request.user.is_authenticated %}
  <form method="get" action="/logout">
    <button type="submit">logout</button>
  </form>
{% endif %}
</body>
</html>